{% comment %}
    @param {string} type - 'page' | 'post' | 'keynote'
    @param {boolean} short
{% endcomment %}

<header class="intro-header" 
        style="{% if include.type == 'post' or include.type == 'page' %}background-image: url('{{ site.baseurl }}/img/home-bg.jpg');{% endif %}">
    {% if include.type == 'keynote' %}
        <iframe src="{{ page.iframe }}"></iframe>
    {% endif %}
    <div class="header-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="{{ site.baseurl }}/archive/?tag={{ tag | url_encode }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% if include.type == 'page' and include.short %}
                        <div class="site-heading" id="tag-heading">
                            <span class="subheading">{{ page.description }}</span>
                        </div>
                    {% else %}
                        <h2 class="subheading">{{ page.subtitle }}</h2>
                        <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
